.App {

}

.title {
  justify-content: center;
  text-align: center;
  font-size: x-large;
}

.gauges {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.gaugeContainer {
  height: 250px;
  width: 300px;
  background-color: aliceblue;
  margin: 5px;
  border-radius: 25px;
}

.predict {
  display: flex; /* Use flexbox */
  justify-content: center; /* Center content horizontally */
  flex-direction: column;
  height: 350px;
  flex: 1;
  background-color: azure;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;
}

.predict button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 50px;
  width: 200px;
  margin: auto;
  margin-top: 10px;

}

.predict button:hover {
  background-color: #45a049;
}

.prediction {
  display: flex;
  background-color: yellow;
  flex: 1;
}